* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #B9B28A;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

h1 {
    margin-bottom: 50px;
    background-color:#F8F3D9;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F8F3D9;   
}

label{
    background-color: #F8F3D9;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F8F3D9;
}
a {
    text-align: center;
    text-decoration: none;
    color: #000;
}
.submission-form{
    background-color: #F8F3D9;
    border:5px solid #504B38;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #685b5b;
    padding: 10px
    
}

.submission-form input,
.submission-form button,
.submission-form a {
    margin-bottom: 10px;
    background-color: #F8F3D9;
}

.links{
    display: flex;
    flex-direction: column;
    background-color: #F8F3D9;

}

