* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F3D9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}